<div class="mat-elevation-z50" *ngIf="isAdminLogged">
  <mat-table [dataSource]="listFlight" matSort style="margin-top: 5%;margin-left: 2%;margin-right: 2%;">
      <ng-container matColumnDef="Airline">
        <mat-header-cell *matHeaderCellDef mat-sort-header pstyle="padding: 0px;align-items: center;justify-content: center;"> Airline</mat-header-cell>
        <mat-cell *matCellDef="let element" style="cursor: pointer;padding: 0px;align-items: center;justify-content: center;">{{ element.airline}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="To">
        <mat-header-cell *matHeaderCellDef  mat-sort-header style="padding: 0px;align-items: center;justify-content: center;">Arrival Station</mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.arrivalStation }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="From">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0px;align-items: center;justify-content: center;">Departure Station</mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.departureStation}}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="Departure time">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0px;align-items: center;justify-content: center;">Departure time</mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{
          element.departureDate | date: "medium"
        }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="Arrival time">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0px;align-items: center;justify-content: center;">Arrival time</mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{
          element.arrivalDate | date: "medium"
        }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayFlightColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayFlightColumns"
        (click)="displayFlightDetails(listFlight.filteredData.indexOf(row))"
      ></mat-row>
      <mat-footer-row></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[9,18]" showFirstLastButtons></mat-paginator>
  </div>

  <div *ngIf="!isAdminLogged" class="container" style="margin-top: 5%;">
    <h2>Welcome To Departure Control System</h2>
    <h2>Checkin made easy</h2>
<div class="flight-search-form">
    <form [formGroup]="flightSearchForm" (ngSubmit)="onSearch()">
        <div class="form-group">
            <div class="form-row">
                <mat-form-field>
                    <input
                    matInput
                    placeholder="From"
                    name="from"
                    formControlName="departureStation">
                </mat-form-field>
                <mat-form-field>
                    <input matInput  placeholder="To" name="to"
                        formControlName="arrivalStation">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Departure Date"
                        name='departureDate' formControlName="departureDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button color='primary' [disabled]="!flightSearchForm.valid" type="submit" style="background-color:#337ab7;color:white" class="buttoncolor">Search</button>
    </form>
</div>
    <div *ngIf="!isLoading && noResults">
      <mat-table [dataSource]="listFlight" matSort style="margin-top: 2%;">
        <ng-container matColumnDef="FlightNo">
          <mat-header-cell *matHeaderCellDef mat-sort-header pstyle="padding: 0px;align-items: center;justify-content: center;"> Flight No</mat-header-cell>
          <mat-cell *matCellDef="let element" style="cursor: pointer;padding: 0px;align-items: center;justify-content: center;">{{ element.flightNo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Airline">
          <mat-header-cell *matHeaderCellDef mat-sort-header pstyle="padding: 0px;align-items: center;justify-content: center;"> Airline</mat-header-cell>
          <mat-cell *matCellDef="let element" style="cursor: pointer;padding: 0px;align-items: center;justify-content: center;">{{ element.airline}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="To">
          <mat-header-cell *matHeaderCellDef  mat-sort-header style="padding: 0px;align-items: center;justify-content: center;">Arrival Station</mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.arrivalStation }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="From">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0px;align-items: center;justify-content: center;">Departure Station</mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.departureStation}}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="Departure time">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0px;align-items: center;justify-content: center;">Departure time</mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{
            element.departureDate | date: "medium"
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Arrival time">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0px;align-items: center;justify-content: center;">Arrival time</mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{
            element.arrivalDate | date: "medium"
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;"></mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">
            <button class="btn btn-primary" (click)="displayUserFlightDetails(element.id)">CheckIn</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayFlightColumnsForUser"></mat-header-row>
        <mat-row
          *matRowDef="let element; columns: displayFlightColumnsForUser"
          (click)="displayUserFlightDetails(element)"
        ></mat-row>
        <mat-footer-row></mat-footer-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[9,18]" showFirstLastButtons></mat-paginator>
    </div>
</div>
