.mat-color {
  background-color: lightblue;
}

::ng-deep .mat-icon {
  font-size: 20px;
}

table {
  border-collapse: collapse;
  border-bottom: 1px solid gray;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  width: 100%;
}

th {
  border-bottom: 1px solid gray;
  background: none repeat scroll 0 0 cadetblue;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}

tr {
  border-top: 1px solid gray;
  text-align: center;
}

td {
  text-align: center;
  padding: 10px;
}

mat-row:nth-child(even) {
  background: #ffffff;
}

mat-row:nth-child(odd) {
  background: whitesmoke;
}
mat-header-cell {
  font-size: 15px;
  background-color:cadetblue;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flight-details-card {
  margin-top: 7%;
}

.flight-details{
  margin-top: 70px;
}