<div class="container" >
 <div *ngIf="isAdminLogged"> 
  <div style="float: right;margin-bottom: 8px;" *ngIf="addService===false">
    <button mat-raised-button color="warning" style="background-color:#f37638;color: white;margin-top: 2%;" (click)="addService=true">
      Add Services
    </button>
  </div>

  <div class="container" *ngIf="addService===true" style="float: right;">
    <div class="row">
        <div class="col-xs-8">
            <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
              <div class="col-xs-4" style="margin-top: 3%;">
                <div class="form-group">
                    <input type="text" placeholder="Service..." class="form-control" id="service" formControlName="service">
                </div>
              </div>
              <div class="col-xs-4" style="margin-top: 3%;">
                <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                <button (click)="addService=false"  class="btn btn-warning">Cancel</button>
              </div>  
            </form>
        </div>
    </div>
</div>

  <div class="row flight-details">
      <div class="col-xs-12">
        <table>
          <tr>
            <th>Flight No</th>
            <th>Airline</th>
            <th>Departure Station</th>
            <th>Arrival Station</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Axilary Service</th>
          </tr>
          <tr>
            <td>{{flight.flightNo}}</td>
            <td>{{ flight.airline }}</td>
            <td>{{ flight.departureStation }}</td>
            <td>{{ flight.arrivalStation }}</td>
            <td>{{ flight.departureDate | date:"medium" }}</td>
            <td>{{ flight.arrivalDate | date:"medium"}}</td>
            <td>{{flight.axilaryService}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div style="margin-top: 1%;margin-bottom: 5%">
      <div class="col-xs-4" style="display: inline;">
        <input class="form-control" type="text"
        style="float:left;"
        (keyup)="doFilter($event.target.value)" placeholder="Filter"/>
      </div>
    <button mat-raised-button style="background-color: #f37638;color: white;float: right;" (click)="onAddPassenger()">
      <mat-icon>add</mat-icon>Add Passenger
    </button>
    </div>
  <div mat="mat-elevation-z8" style="margin-top: 50px;" >
  <mat-table [dataSource]="listPassenger" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0px;align-items: center;justify-content: center;">Name</mat-header-cell>
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="passportNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header
      style="padding: 0px;align-items: center;justify-content: center;" >Passport Number</mat-header-cell
      >
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.passportNumber }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="checkinStatus">
      <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;">CheckInStatus</mat-header-cell>
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.checkinStatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="passengerType">
      <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;">Passenger Type</mat-header-cell>
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{
        element.passengerType
      }}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="seatNumber">
      <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;">SeatNumber</mat-header-cell>
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{
        element.seatNumber
      }}</mat-cell>
    </ng-container>
     
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;"></mat-header-cell>
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">
        <button mat-icon-button (click)="onEditPassenger(element)">
          <mat-icon>launch</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayPassengerColumns">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayPassengerColumns"> </mat-row>
  </mat-table>
  </div>
  </div>
    <div *ngIf="!isAdminLogged">
    <div className = "row" style="display: flex;align-items: center;justify-content: center;margin-top: 17%;">
      <div className = "col-md-6 col-sm-6" style="margin-right: 120px;" >
          <div>
              <div>
                  <img height="200px" style="cursor: pointer;margin-top: -14%;"
                  alt="Checkin Operations" (click)="onCheckIn()"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWZK6hL3LvQgHlXN0aolSEG60t2jTsyFCcPzX1EggvKUD6-m77&s"/>
              </div>
              <div style="margin-left: 20%;margin-top: 10%;">Checkin Operations</div>
          </div>
      </div>
      <div className = "col-md-6 col-sm-6">
          <div>
              <div>
                  <img height="200px"
                  alt="In-Flight Operations" (click)="onInFlight()"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOiE1oUcgX93KXVIRkKyftNCWMET9nkRPPlE9d-Z91sFAEB-yG&s"/>
              </div>
             <div style="margin-left: 26%;">In-Flight Operations</div> 
          </div>
      </div>
  </div>
  </div>    
  </div>